:root{
    --color-body: #262424;
    --color-menu: #221e1ebb;
    --color-footer: #221e1ebb;
    --color-project-body: rgb(33, 29, 33);
    --color-font: #f6f6f6f6;
    --color-accent: #9b13e4;
    --color-cards: #9421d116;
}